{
	"converse": {
		"default": {
			"default": [
				"I... hate you.",
				"h-help...",
				"Wh-who are you?",
				"What do you plan to do to me?",
				"You don't plan to hurt me, do you?"
			]
		},
		"avian": {
			"default": [
				"Wh-who are you?",
				"What do you plan to do to me?",
				"My feathers shiver at your approach... who are you?",
				"I... hate you.",
				"H-help...",
				"I'm not a kluex prostitute!"
			]
		},
		"hylotl": {
			"default": [
				"Wh-who are you?",
				"What do you plan to do to me?",
				"You don't plan to hurt me, do you?",
				"I... hate you.",
				"h-help...",
				"This fish isn't in your sea..."
			]
		}
	}
}

