{
	"greeting": {
		"default": {
			"default": [
				"Wh-who are you?",
				"What do you plan to do to me?",
				"You don't plan to hurt me, do you?"
			]
		},
		"avian": {
			"default": [
				"Wh-who are you?",
				"What do you plan to do to me?",
				"My feathers shiver at your approach... who are you?"
			]
		},
		"hylotl": {
			"default": [
				"Wh-who are you?",
				"What do you plan to do to me?",
				"You don't plan to hurt me, do you?"
			]
		}
	},
	"converse": {
		//  Species of the victim
		"default": {
			//  Species the victim is talking to
			"default": [
				"I... hate you.",
				"h-help..."
			]
		},
		"avian": {
			"default": [
				"I... hate you.",
				"H-help...",
				"I'm not a kluex prostitute!"
			]
		},
		"hylotl": {
			"default": [
				"I... hate you.",
				"h-help...",
				"This fish isn't in your sea..."
			]
		}
	}
}

